<footer id="footer" class="footer">
  <div class="content">
    <div class="notice">
      <a href="/" class="logo">
        <%= image_tag "logo.png", width: "221", height: "60" %>
      </a>
      <p class="lead">
        Software Niagara is a grassroots initiative to connect the software
        community in the Niagara Region.
      </p>
      <p>
        We believe in community. So much so, that this website and its content
        are a community effort. We use an open publishing model that relies
        on <a href="https://github.com/softwareniagara/softwareniagara.com/blob/master/CONTRIBUTORS.md">
        contributions</a> from the community via <a href="https://github.com/softwareniagara/softwareniagara.com">
        GitHub</a>.
      </p>
      <p>
        <a href="https://github.com/softwareniagara/softwareniagara.com/blob/master/CONTRIBUTING.md">
          Send us a pull request
        </a>
      </p>
    </div>
    <div class="social">
      <h4>Receive our newsletter</h4>

      <form action="http://softwareniagara.us5.list-manage.com/subscribe/post?u=05691c73c71b8b4c0331ca2d9&amp;id=c8cb8ab954" method="post" id="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form" data-validate="parsley" data-focus="first" target="_blank">
          <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" data-required="true" data-type="email">
          <input type="submit" value="Subscribe" name="subscribe" id="mce-embedded-subscribe" class="button">
      </form>

      <ul class="social-links">
        <li><a href="https://twitter.com/softwareniagara"><i class="icon ion-social-twitter"></i></a></li>
        <li><a href="https://facebook.com/softwareniagara"><i class="icon ion-social-facebook"></i></a></li>
        <li><a href="https://github.com/softwareniagara"><i class="icon ion-social-github"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
<div id="foot" class="foot">
  <div class="content">
    &copy; 2012-2014 Software Niagara and contributors. All rights reserved.
    Articles copyright Software Niagara and their respective authors.
  </div>
</div>
