<header id="header" class="header">
  <a href="/" class="logo">
    <%= image_tag "logo.png", width: "221", height: "60" %>
  </a>
  <a href="#" class="toggle">
    <i class="icon ion-navicon-round"></i>
    <i class="icon ion-close-round"></i>
  </a>
</header>
<div class="navigation-overlay">
  <nav id="navigation" class="navigation" role="navigation">
    <ul>
      <li><a href="#events">Events</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
