<header id="header" class="header">
  <a href="/" class="logo">
    <%= image_tag "logo.png", width: "221", height: "60" %>
  </a>
  <a href="#" class="toggle">
    <i class="icon ion-navicon-round"></i>
  </a>
</header>
