<header class="tc pa3 pb0 pt4 pt5-ns" role="banner">
  <img src="/images/logos/software-niagara-symbol.svg" class="pa1 h3 h4-ns w3 w4-ns" alt="avatar">
  <h1 class="f4 f3-ns fw5 mt4 mt5-ns">Software Niagara is <em class="ff-ds">your</em> tech community</h1>
</header>

<div class="pa3 pt0">
  <form id="mc-embedded-subscribe-form" class="mw6 center validate" action="http://softwareniagara.us5.list-manage.com/subscribe/post?u=05691c73c71b8b4c0331ca2d9&id=c8cb8ab954" method="POST" target="_blank" novalidate>
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f6 f5-ns mb3 grey-20 tc">Get notified of news &amp; events <span class="dn di-ns">that matter to you</span></legend>
      <div class="cf bg-gulf-blue-ns br-pill pa0 pa1-ns mt1 mt2-ns">
        <label for="mce-EMAIL" class="sr-only">Email<sup>*</sup></label>
        <input class="fl f5 input-reset bn white bg-gulf-blue fl pa3 lh-solid w-100 w-75-m w-80-l br-pill-ns br--left-ns required email" placeholder="Your Email Address" type="email" name="EMAIL" value="" id="mce-EMAIL">
        <input class="fl f5 button-reset pv3 tc bn bg-animate bg-pink hover-bg-pink white pointer w-100 w-25-m w-20-l br-pill ba bw3 b--gulf-blue mt3 mt0-ns" type="submit" value="Subscribe">
      </div>
      <div id="mce-responses" class="clear tc">
    		<div class="response lh-copy red" id="mce-error-response" style="display:none"></div>
    		<div class="response lh-copy" id="mce-success-response" style="display:none"></div>
    	</div>
    </fieldset>
  </form>
</div>

<div class="waves">
  <img src="/images/banners/waves.svg" class="w-100" alt="" role="presentation" />
</div>