<header class="tc pa3 pb0 pt4 pt5-ns">
  <img src="/images/logos/software-niagara-symbol.svg" class="pa1 h3 h4-ns w3 w4-ns" alt="avatar">
  <h1 class="f4 f3-ns fw5 mt4 mt5-ns">Software Niagara is <em class="ff-ds">your</em> tech community</h1>
</header>

<div class="pa3 pt0">
  <form class="mw6 center">
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f6 f5-ns mb3 grey-20 tc">Get notified of news &amp; events <span class="dn di-ns">that matter to you</span></legend>
      <div class="cf bg-gulf-blue-ns br-pill pa0 pa1-ns mt1 mt2-ns">
        <input class="fl f5 input-reset bn white bg-gulf-blue fl pa3 lh-solid w-100 w-75-m w-80-l br-pill-ns br--left-ns" placeholder="Your Email Address" type="text" name="Email_Adress" value="" id="Email_Adress">
        <input class="fl f5 button-reset pv3 tc bn bg-animate bg-pink hover-bg-pink white pointer w-100 w-25-m w-20-l br-pill ba bw3 b--gulf-blue mt3 mt0-ns" type="submit" value="Subscribe">
      </div>
    </fieldset>
  </form>
</div>

<div class="waves">
  <img src="/images/banners/waves.svg" class="w-100" />
</div>