.events {
  margin: $gutter 0;

  li {
    @include span-columns(4);
    background-color: lighten($dark-gray, 5%);
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.event-target {
  display: block;
  position: relative;

  &.untargeted img {
    opacity: 0.25;
  }

  &.targeted img {
    opacity: 1;
  }

  &.targeted:after {
    bottom: -32px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $powder-blue;
    border-width: 50px;
    left: 50%;
    margin: 0 0 0 -50px;
  }
}

.event {
  background: $powder-blue;
  margin-top: $gutter;
  padding: 2em 1em 2em 1em;
  display: none;

  p:last-child {
    margin-bottom: 0;
  }

  .content {
    @include outer-container();
  }
}

.event-close {
  float: right;
  color: darken($powder-blue, 10%);
  cursor: pointer;
}

.event-image {
  @include span-columns(4);

  img {
    width: 100%;
  }
}

.event-details {
  @include span-columns(8);
}

@media (max-width: $medium-screen) { 
  .events {
    display: none;
  }

  .event {
    background: transparent;
    display: block !important; // Important used incase block hidden with javascript
    padding: 0 1em;
    margin-bottom: $gutter * 2;
  }

  .event-close {
    display: none;
  }

  .event-image {
    @include span-columns(12);
  }

  .event-details {
    @include span-columns(12);
  }
}
