#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background: $dark-gray;
  @include clearfix;
  color: white;
  padding: .75em 1em;

  a,a:hover {
    color: inherit;
  }

  .logo {
    display: inline-block;
    float: left;
    height: 60px;
  }

  .toggle {
    float: right;
    font-size: 50px;
    margin-top: 5px;
    position: relative;
    display: block;
    width: 37px;
    height: 51px;
    overflow: visible;

    .ion-close-round {
      position: absolute;
      @include transition(.3s linear opacity);
      opacity: 0;
    }

    .ion-navicon-round {
      position: absolute;
      @include transition(.3s linear opacity);
      opacity: 1;
    }

    &.toggled {
      .ion-close-round {
        opacity: 1;
      }
      .ion-navicon-round {
        opacity: 0;
      }
    }
  }
}

.navigation-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 89px;
  left: 0;
  background: $blue;
  z-index: 99999;
}

.navigation-overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.navigation-overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.navigation-overlay ul li a {
  font-weight: 500;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.navigation-overlay ul li a:hover,
.navigation-overlay ul li a:focus {
  color: lighten($blue, 50%);
}

// Effects
.navigation-overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.navigation-overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.navigation-overlay nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.navigation-overlay nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.navigation-overlay.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.navigation-overlay.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .navigation-overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .navigation-overlay ul li {
    min-height: 34px;
  }
}
