.section {
  padding: 2em 1em;

  h1 { @extend .h1; }
  h2 { @extend .h2; }
  h3 { @extend .h3; }
  h4 { @extend .h4; }
  h5 { @extend .h5; }
  h6 { @extend .h6; }
  p { @extend .p; }
  a:not(.button) { @extend .a; }

  .content {
    @include outer-container();
  }

  .actions {
    margin-top: $gutter;
  }

  .lead {
    margin: 0 auto;

    h2 {
      margin-bottom: $gutter/2;
    }

    p {
      font-size: 1.2em;
    }
  }
}

#events.section {
  padding-left: 0;
  padding-right: 0;

  .inner {
    padding-left: 0;
    padding-right: 0;
  }
}

#introduction {
  background: $blue url('../images/splash.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: table;
  text-align: center;
  text-shadow: 0 -1px rgba($dark-gray, 0.25);
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
