.section {
  @extend .body;
  padding: 5em 1em;

  h1 { @extend .h1; }
  h2 { @extend .h2; }
  h3 { @extend .h3; }
  h4 { @extend .h4; }
  h5 { @extend .h5; }
  h6 { @extend .h6; }
  p { @extend .p; }
  a:not(.button) { @extend .a; }

  .content {
    @include outer-container();
  }

  .main {
    @include span-columns(8);
  }

  .aside {
    @include span-columns(4);
  }

  .well {
    background-color: $light-gray;
    border-radius: $base-border-radius;
    padding: $gutter;

    ul {
      @extend %default-ul;
    }
  }

  .actions {
    margin-top: $gutter;
  }

  .lead {
    margin: 0 auto;

    h2 {
      margin-bottom: $gutter/2;
    }

    p {
      font-size: 1.2em;
    }
  }
}

@media (max-width: $medium-screen) { 
  .section {
    padding: 1em 1em;

    .main {
      @include span-columns(12);
      margin-bottom: 1.5em;
    }

    .aside {
      @include span-columns(12);
    }
  }
}

#events.section {
  padding-left: 0;
  padding-right: 0;

  .inner {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#introduction {
  background: $blue url('../images/splash.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: table;
  text-align: center;
  text-shadow: 0 -1px rgba($dark-gray, 0.25);
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .button {
    font-size: 1.68em;
  }
}

@media (max-width: $medium-screen) { 
  #introduction {
    h1 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1em;
    }

    .button {
      display: block;
      font-size: 1em;
      margin-bottom: .5em;
    }
  }
}

#about {
  background-color: $light-gray;
  border-top: 1px solid darken($light-gray, 5%);
  border-bottom: 1px solid darken($light-gray, 5%);

  .well {
    background-color: darken($light-gray, 5%);
  }
}
