button,
.button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  color: white;
  cursor: pointer;
  font-family: $header-font-family;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: white;
  }

  &.alt {
    background-color: lighten($dark-gray, 5%);
    color: white;
    &:hover {
      background-color: lighten($dark-gray, 10%);
      color: white;
    }
  }
}
