button,
.button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  font-family: $header-font-family;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.alt {
    background-color: $dark-gray;
    &:hover {
      background-color: lighten($dark-gray, 5%);
    }
  }
}
