---
title: Welcome to Middleman
---

<section id="introduction" class="section">
  <div>
    <div class="content">
      <div class="hero">
        <h1>Your software community</h1>
        <h3>Be part of a vibrant community in the Niagara Region</h3>

        <div class="actions">
          <a href="#" class="button">Attend an event</a>
          <a href="http://forum.softwareniagara.com" class="button">Visit the forum</a>
        </div>
      </div>
    </div>
  </div>
</section>
