---
title: Welcome to Software Niagara
---

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-red" href="#0">DevTricks</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>
      Learn tricks of the trade at DevTricks on the second Monday of the Month. 
      Full schedule on <a href="http://meetup.com">meetup.com</a>.
    </p>    
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-gold" href="#0">DYGG Meetup</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-purple" href="#0">Facebook</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-hot-pink" href="#0">Twitter</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-green" href="#0">Gitter</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-blue" href="#0">Forum</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>