---
title: Welcome to Software Niagara
---

<section>
  <header>
    <h2 class="f2 tc indigo">Our Events</h2>
  </header>
  <article class="cf mb5 mb6-ns">
    <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
      <img src="/images/logos/devtrx.svg" alt="DevTrx" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
    </div>
    <div class="fl w-100 w-60-ns pa3 pt1 pb1">
      <h2 class="f5 f4-ns lh-title">
        Learn tricks of the trade from local software professionals at DevTrx
      </h2>

      <p class="lh-copy">
        You are welcome to join us for DevTrx at Cowork Niagara on the <b>second
        Monday of every month</b>. You can expect three presentations at each event.
        The presentations cover a variety of topics, including programming languages,
        libraries and frameworks, testing, architecture, user experience, and more.
      </p>

      <p class="lh-copy">
        This event is suitable for students, hobbyists, and professional software
        developers &mdash; all of whom are welcome to present as well.
      </p>

      <p class="lh-copy">
        Check <a href="https://www.meetup.com/software-niagara/">meetup.com</a> for
        the schedule or email <a href="mailto:info@softwareniagara.com">info@softwareniagara.com</a>
        about presenting.
      </p>

      <table>
        <tr>
          <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
          <td>Second Monday of the month @ 7PM</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">room</i></th>
          <td><a href="http://www.coworkniagara.com">Cowork Niagara</a></td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">credit_card</i></th>
          <td>Free</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">face</i></th>
          <td>Beginner-Advanced</td>
      </table>

      <p>
        <a href="https://www.meetup.com/software-niagara/" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Register on Meetup.com</a>
      </p>
    </div>
  </article>

  <article class="cf mb5 mb6-ns">
    <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
      <img src="/images/logos/doyousomethingforgreatgood.svg" alt="Do You Something For Great Good" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
    </div>
    <div class="fl w-100 w-60-ns pa3 pt1 pb1">
      <h2 class="f5 f4-ns lh-title">
        Work on something you love. Just do good and be great!
      </h2>

      <p class="lh-copy">
        This is a <b>new weekly event</b> presented by Software Niagara and hosted
        at Cowork Niagara. It's an opportunity for you to come out and work on something
        you love, learn new things, and chat about the latest &amp; greatest in tech.
      </p>

      <p class="lh-copy">
        A general topic is provided for this event but there is no set discussion
        or activites. At its core, this event is an opportunity to get together
        with your peers. You choose what to make of it. Spend the evening talking,
        listening to interesting conversations, or working on the next big thing.
        You decide. Just do good and be great!
      </p>

      <p class="lh-copy">
        This event is suitable for students, those new to coding, and people working
        on side projects.
      </p>

      <table>
        <tr>
          <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
          <td>Every Wednesday @ 7PM</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">room</i></th>
          <td><a href="http://www.coworkniagara.com">Cowork Niagara</a></td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">credit_card</i></th>
          <td>Free</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">face</i></th>
          <td>Beginner-Intermediate</td>
      </table>

      <p>
        <a href="http://www.meetup.com/software-niagara/" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Register on Meetup.com</a>
      </p>
    </div>
  </article>

  <article class="cf mb5 mb6-ns">
    <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
      <img src="/images/logos/democamp.svg" alt="DemoCamp" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
    </div>
    <div class="fl w-100 w-60-ns pa3 pt1 pb1">
      <h2 class="f5 f4-ns lh-title">
        Celebrate Made-in-Niagara Apps &amp; Games at a Show-and-Tell with cocktails
      </h2>

      <p class="lh-copy">
        Great things are being built right here in Niagara and we want to shine a
        spotlight on those products and the teams behind them.
      </p>

      <p class="lh-copy">
        From time-to-time we host DemoCamp Niagara to provide five local entrepreneurs
        with the opportunity to show-off the tech products they've built. Each product
        gets a 5-minute demo followed by a 5-minute question and answer period. We
        even throw in free snacks and an inspirational keynote.
      </p>

      <p class="lh-copy">
        Some alumni of DemoCamp Niagara include these local rockstars: Every1Games,
        PixelNAUTS, Phantom Compass, Upper Rapids, Niagara Artists Centre, Furi Enterprises,
        Protecht, Mulberry Media, Glacier Digital, and Brock University.
      </p>

      <p class="lh-copy">
        This event is suitable for everyone.
      </p>

      <table>
        <tr>
          <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
          <td>To be announced</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">room</i></th>
          <td>To be announced</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">credit_card</i></th>
          <td>Free</td>
        </tr>
        <tr>
          <th class="indigo"><i class="material-icons">face</i></th>
          <td>No experience required</td>
      </table>

      <p>
        <a href="mailto:info@softwareniagara.com" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Contact us to arrange a demo</a>
      </p>
    </div>
  </article>
</section>

<article class="cf mb5 mb6-ns pa3">
  <h2 class="f2 tc indigo">Our Story</h2>
  <p class="f6 f4-ns lh-copy measure center">
    Software Niagara was founded in 2012. Inspired by grassroots tech communities that
    were popping up in nearby cities, like <a href="http://www.softwarehamilton.com">
    Software Hamilton</a> and <a href="http://www.startupnorth.ca">Startup North</a>,
    a couple local developers set out to create a similar community in the Niagara Region.
    Over the years, we have organized numerous DemoCamps, Hackathons, and
    other meetups. And until this day, thanks to our volunteers and supporters,
    we continue to organize events for the tech community in the spirit of our mission.
  </p>
  <blockquote class="ph0 f4 f1-ns ff-ds measure-narrow center">
    <p class="fw9 lh-copy lh-title-ns">
      Our mission is to foster a <em>community</em> in Niagara that encourages and supports software development and the creation of software-based businesses.
    </p>
  </blockquote>
  <p class="f6 f4-ns lh-copy measure center">
    We are a grassroots community. Our events, <a href="https://www.meetup.com/software-niagara">meetup group</a>,
    and <a href="https://forum.softwareniagara.com">forum</a> are all organized
    and run by a group of volunteers that has continued to grow over the years. While we
    encourage everyone to come out to our events and be part of our community, we also
    encourage everyone to volunteer with Software Niagara and help shape the future of
    our community. Help us build the tech community that you want.
  </p>
  <p class="f6 f4-ns lh-copy measure center tc">
    <a href="mailto:info@softwareniagara.com" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Contact us to volunteer</a>
  </p>
</article>

<section>
  <header>
    <h2 class="f2 tc indigo mb0">Our Supporters</h2>
  </header>
  <article class="cf mb4">
    <div class="fl w-50 tr pa3 pt1 pb1">
      <a href="http://www.coworkniagara.com"><img src="/images/logos/coworkniagara.svg" alt="DevTrx" class="w-100 w-50-m w-25-l" style="margin-top: 1.35rem" /></a>
    </div>
    <div class="fl w-50 tl pa3 pt1 pb1">
      <a href="http://www.jetbrains.com"><img src="/images/logos/jetbrains.svg" alt="DevTrx" class="w-100 w-50-m w-25-l" style="margin-top: 1.35rem" /></a>
    </div>
  </article>
</section>

<article class="cf mb5 mb6-ns pa3 tc">
  <ul class="list pa3 pa5-ns pb0 pb0-ns">
    <li class="dib mr2"><a href="https://twitter.com/softwareniagara" class="f4 f2-ns b db pa2 indigo hover-indigo"><i class="socicon-twitter"></i></a></li>
    <li class="dib mr2"><a href="https://facebook.com/softwareniagara" class="f4 f2-ns b db pa2 indigo hover-indigo"><i class="socicon-facebook"></i></a></li>
    <li class="dib mr2"><a href="https://github.com/softwareniagara" class="f4 f2-ns b db pa2 indigo hover-indigo"><i class="socicon-github"></i></a></li>
    <li class="dib mr2"><a href="https://github.com/software-niagara" class="f4 f2-ns b db pa2 indigo hover-indigo"><i class="socicon-meetup"></i></a></li>
  </ul>
  <p>
    <a href="https://forum.softwareniagara.com">Chat with us on forum.softwareniagara.com</a>
  </p>
</article>
