---
title: Welcome to Software Niagara
---

<article class="cf mb4 mb5-ns">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <img src="/images/logos/devtrx.svg" alt="DevTrx" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <h2 class="f5 f4-ns lh-title">
      Learn tricks of the trade from local software professionals at DevTrix
    </h2>
    
    <p class="lh-copy">
      You are welcome to join us for DevTrx at Cowork Niagara on the <b>second 
      Monday of every month</b>. You can expect three presentations at each event. 
      The presentations cover a variety of topics, including programming languages, 
      libraries and frameworks, testing, architecture, user experience, and more.
    </p>
    
    <p class="lh-copy">
      This event is suitable for students, hobbysts, and professional software
      developers &mdash; all of whom are welcome to present as well.
    </p>
    
    <p class="lh-copy"> 
      Check <a href="https://www.meetup.com/software-niagara/">meetup.com</a> for 
      the schedule or email <a href="mailto:info@softwareniagara.com">info@softwareniagara.com</a>
      about presenting.
    </p>
    
    <table>
      <tr>
        <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
        <td>Second Monday of the month @ 7PM</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">room</i></th>
        <td><a href="http://www.coworkniagara.com">Cowork Niagara</a></td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">credit_card</i></th>
        <td>Free</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">face</i></th>
        <td>Beginner-Advanced</td>
    </table>
    
    <p>
      <a href="https://www.meetup.com/software-niagara/" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Register on Meetup.com</a>
    </p>
  </div>
</article>

<article class="cf mb4 mb5-ns">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <img src="/images/logos/doyousomethingforgreatgood.svg" alt="Do You Something For Great Good" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <h2 class="f5 f4-ns lh-title">
      Work on something you love. Just do good and be great!
    </h2>
    
    <p class="lh-copy">
      This is a <b>new weekly event</b> presented by Software Niagara and hosted 
      at Cowork Niagara. It's an opportunity for you to come out and work on something 
      you love, learn new things, and chat about the latest &amp; greatest in tech. 
    </p>
    
    <p class="lh-copy">
      A general topic is provided for this event but there is no set discussion 
      or activites. At its core, this is event is an opportunity to get together 
      with your peers. You choose what to make of it. Spend the evening talking, 
      listening to interesting conversations, or working on the next big thing. 
      You decide. Just do good and be great!
    </p>
    
    <p class="lh-copy">
      This event is suitable for students, those new to coding, and people working 
      on side projects.
    </p>
    
    <table>
      <tr>
        <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
        <td>Every Wednesday @ 7PM</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">room</i></th>
        <td><a href="http://www.coworkniagara.com">Cowork Niagara</a></td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">credit_card</i></th>
        <td>Free</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">face</i></th>
        <td>Beginner-Intermediate</td>
    </table>
    
    <p>
      <a href="http://www.meetup.com/software-niagara/" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Register on Meetup.com</a>
    </p>
  </div>
</article>

<article class="cf mb4 mb5-ns">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <img src="/images/logos/democamp.svg" alt="DemoCamp" class="w-60 w-100-ns" style="margin-top: 1.35rem" />
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <h2 class="f5 f4-ns lh-title">
      Celebrate Made-in-Niagara Apps &amp; Games at a Show-and-Tell with cocktails
    </h2>
    
    <p class="lh-copy">
      Great things are being built right here in Niagara and we want to shine a 
      spotlight on those products and the teams behind them.
    </p>
    
    <p class="lh-copy">
      From time-to-time we host DemoCamp Niagara to provide five local entrepreneurs 
      with the opportunity to show-off the tech products they've built. Each product 
      gets a 5-minute demo followed by a 5-minute question and answer period. We 
      event throw in free snacks and an inspirational keynote.
    </p>
    
    <p>
      Some alumni of DemoCamp Niagara include these local rockstars: Every1Games, 
      PixelNAUTS, Phantom Compass, Upper Rapids, Niagara Artists Centre, Furi Enterprises, 
      Protecht, Mulberry Media, Glacier Digital, and Brock University. 
    </p>
    
    <p class="lh-copy">
      This event is suitable for everyone.
    </p>
    
    <table>
      <tr>
        <th class="indigo"><i class="material-icons">hourglass_empty</i></th>
        <td>To be announced</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">room</i></th>
        <td>To be announced</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">credit_card</i></th>
        <td>Free</td>
      </tr>
      <tr>
        <th class="indigo"><i class="material-icons">face</i></th>
        <td>No experience required</td>
    </table>
    
    <p>
      <a href="mailto:info@softwareniagara.com" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Contact us to arrange a demo</a>
    </p>
  </div>
</article>
