---
title: Welcome to Middleman
---

<section id="introduction" class="section">
  <div>
    <div class="content">
      <div class="hero">
        <h1>Connecting the software community</h1>
        <h3>Join us in building a vibrant software community in the Niagara Region</h3>

        <div class="actions">
          <a href="#" class="button">Attend an Event</a>
          <a href="#" class="button">Visit the Forum</a>
        </div>
      </div>
    </div>
  </div>
</section>
