---
title: Welcome to Software Niagara
---

<article class="cf mb5">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <img src="/images/logos/devtrx.svg" alt="DevTrx" class="w-60 w-100-ns" />
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <h2 class="f5 f4-ns lh-title">
      Learn tricks of the trade from local software professionals at DevTrix
    </h2>
    
    <p class="lh-copy">
      You are welcome to join us for DevTrx at Cowork Niagara on the <b>second 
      Monday of every month</b>. You can expect three presentations at each event. 
      The presentations cover a variety of topics, including programming languages, 
      libraries and frameworks, testing, architecture, user experience, and more.
    </p>
    
    <p class="lh-copy">
      This event is suitable for students, hobbysts, and professional software
      developers &mdash; all of whom are welcome to present as well.
    </p>
    
    <table>
      <tr>
        <th><i class="material-icons">hourglass_empty</i></th>
        <td>Second Monday of the month</td>
      </tr>
      <tr>
        <th><i class="material-icons">room</i></th>
        <td><a href="http://www.coworkniagara.com">Cowork Niagara</a></td>
      </tr>
      <tr>
        <th><i class="material-icons">credit_card</i></th>
        <td>Free</td>
      </tr>
      <tr>
        <th><i class="material-icons">face</i></th>
        <td>Beginner-Advanced</td>
    </table>
    
    <p>
      <a href="http://www.meetup.com/software-niagara/" class="f5 pa3 button-reset bg-animate bg-pink hover-bg-pink br3 white hover-white db dib-ns tc mt4">Register on Meetup.com</a>
    </p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-gold" href="#0">DYGG Meetup</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-purple" href="#0">Facebook</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-hot-pink" href="#0">Twitter</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-green" href="#0">Gitter</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>

<article class="cf">
  <div class="fl w-100 w-40-ns tc pa3 pt1 pb1">
    <h2 class="fw5"><a class="f6 link dim br2 ph3 pv2 mb2 db white bg-blue" href="#0">Forum</a></h2>
  </div>
  <div class="fl w-100 w-60-ns pa3 pt1 pb1">
    <p>Learn tricks of the trade at DevTricks on the second Monday of the Month. Full schedule on <a href="http://meetup.com">meetup.com</a>.</p>
  </div>
</article>